---
import ListElement from "../atom/ListElement.astro";
export interface Props {
  brand?: boolean
  radius?: 'small' | 'normal' | 'large'
  blur?: 'none' | 'small' | 'normal' | 'large'
  contrast?: boolean
}

const {brand, radius, contrast, blur} = Astro.props as Props;

const radiuses = {
  small: 'rounded',
  normal: 'rounded-md',
  large: 'rounded-lg',
}
const blures = {
  none: 'backdrop-blur-none',
  small: 'backdrop-blur-sm',
  normal: 'backdrop-blur-md',
  large: 'backdrop-blur-lg',
}

const classArray = []
classArray.push('border p-4 mb-8')
!brand && !contrast && classArray.push('dark:border-lighter/15 border-darker/15 bg-darker/5 dark:bg-lighter/5')
!brand && contrast && classArray.push('dark:border-lighter/15 border-darker/15 bg-whitest dark:bg-darkest')
brand && !contrast && classArray.push('border-brand/25 bg-brand/10')
brand && contrast && classArray.push('border-brand/25 bg-white dark:bg-darkest')
blur && classArray.push(blures[blur || 'none'])
classArray.push(radiuses[radius || 'normal'])

const combined = classArray.join(' ')
---

<div class={combined}>
  <slot />
</div>
