---

export interface Props {
  top?: 'none' | 'small' | 'normal' | 'large'
}

const tops = {
  none: 'top-0',
  small: 'top-2',
  normal: 'top-4',
  large: 'top-8',
}

const { class: className, top } = Astro.props

const classArray = []
classArray.push('sticky left-0 right-0 z-50')
classArray.push(tops[top || 'none'])


const combined = classArray.join(' ')

---


<div class={combined}>
  <slot/>
</div>
