---
import Button from '../components/atom/Button.astro';
import ButtonLink from '../components/atom/ButtonLink.astro';
import Container from '../components/molecule/Container.astro';
import Heading from "../components/atom/Heading.astro";
import Hero from "../components/organism/Hero.astro";
import Brand from "../components/atom/Brand.astro";
import Badge from "../components/atom/Badge.astro";
import Panel from "../components/atom/Panel.astro";
import Nav from "../components/organism/Nav.astro";
import Logo from "../components/local/Logo.astro";
import Sticky from "../components/atom/Sticky.astro";
import NavList from "../components/molecule/NavList.astro";
import ButtonNavList from "../components/molecule/ButtonNavList.astro";
import Close from "../components/local/icons/Close.astro";
import Menu from "../components/local/icons/Menu.astro";
import Faq from "../components/molecule/Faq.astro";
import ImageText from "../components/molecule/ImageText.astro";
import Text from "../components/atom/Text.astro";
import TextImage from "../components/molecule/TextImage.astro";
import PageHeader from "../components/molecule/PageHeader.astro";
import Space from "../components/atom/Space.astro";
import Padding from "../components/atom/Padding.astro";
import NavBar from "../components/molecule/NavBar.astro";

const menuItems = [
  {name: 'Home', link: '/'},
  {name: 'About', link: '/about'},
  {name: 'Contact', link: '/contact'}
]
---

<html lang="en" class="dark">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My cool astro project</title>
</head>
<body class="dark:text-lighter text-darker bg-lighter dark:bg-darker mb-8">

<NavBar theme="light" height="short" mb="0">
  <Text align="center" mb="0">
    This is a test
  </Text>
</NavBar>
<Sticky>
  <NavBar theme="flat" height="medium" mb="32"  shadow>
    <Container size="large">
      <div class="flex justify-between intems-center">
        <a href="/" class="w-8" slot="logo">
          <Logo class="fill-brand"/>
        </a>
        <NavList inline brand hideOnMobile items={menuItems}/>
        <ButtonNavList hideOnMobile items={menuItems}>
          <Menu class="w-8"/>
        </ButtonNavList>
      </div>
    </Container>
  </NavBar>
</Sticky>

<!--<Sticky top="small">
  <Container size="full">
    <Panel brand blur="large">
      <div class="flex justify-between intems-center">
        <a href="/" class="w-8" slot="logo">
          <Logo class="fill-brand"/>
        </a>
        <NavList inline brand hideOnMobile items={menuItems}/>
        <ButtonNavList hideOnMobile items={menuItems}>
          <Menu class="w-8"/>
        </ButtonNavList>
      </div>
    </Panel>
  </Container>
</Sticky>-->

<Container size="large">
  <Badge size="small" brand mb="2" align="center">This is a badge</Badge>
  <PageHeader title="Pricing" subTitle="Have a look at the pricing table"/>
  <Text weight="light" size="large" leading="relaxed" dim narrow mb="32">
    lobortis hendrerit ornare volutpat morbi molestie. Dolor tristique et montes penatibus arcu, leo ligula placerat
    tellus. Morbi laoreet volutpat elementum nam mi euismod nulla. Suscipit vivamus vivamus aliquet ex; ad convallis
    ridiculus nascetur enim.
  </Text>
  <ImageText width="800" height="800" radius="3x-large" src="https://picsum.photos/id/11/800/800" alt="Something here">
    <Heading level="2" mb="4">
      This is the heading
    </Heading>
    <Text size="x-large" leading="loose" weight="light">
      lobortis hendrerit ornare volutpat morbi molestie. Dolor tristique et montes penatibus arcu, leo ligula placerat
      tellus. Morbi laoreet volutpat elementum nam mi euismod nulla. Suscipit vivamus vivamus aliquet ex; ad convallis
      ridiculus nascetur enim.
    </Text>
  </ImageText>
  <ImageText
    reverce
    spacing="large"
    width="800"
    height="800"
    radius="3x-large"
    src="https://picsum.photos/id/11/800/800"
    alt="Something here"
  >
    <Heading level="2">
      This is the heading
    </Heading>
    <Text weight="light">
      lobortis hendrerit ornare volutpat morbi molestie. Dolor tristique et montes penatibus arcu, leo ligula placerat
      tellus. Morbi laoreet volutpat elementum nam mi euismod nulla. Suscipit vivamus vivamus aliquet ex; ad convallis
      ridiculus nascetur enim.
    </Text>
  </ImageText>
  <TextImage spacing="large" width="800" height="800" radius="3x-large" src="https://picsum.photos/id/11/800/800"
             alt="Something here">
    <Badge size="small" mb="2" brand>This is a badge</Badge>
    <Heading level="3" as="h6" brand weight="medium" mb="0">
      This is the heading
    </Heading>
    <Heading level="2" as="h2" mb="8">
      This is the heading
    </Heading>
    <Text weight="extralight" size="large" leading="normal">
      lobortis hendrerit ornare volutpat morbi molestie. Dolor tristique et montes penatibus arcu, leo ligula placerat
      tellus. Morbi laoreet volutpat elementum nam mi euismod nulla. Suscipit vivamus vivamus aliquet ex; ad convallis
      ridiculus nascetur enim.
    </Text>
  </TextImage>
</Container>
<Container size="small" mb="32">
  <Heading level="2" align="center" mb="4" as="h3">
    This is the heading
  </Heading>
  <Text weight="light" size="large" leading="relaxed" dim>
    lobortis
    <Brand class="underline">hendrerit ornare volutpat morbi molestie.</Brand>
    Dolor tristique et montes penatibus arcu, leo ligula placerat
    tellus. Morbi laoreet volutpat elementum nam mi euismod nulla. Suscipit vivamus vivamus aliquet ex; ad convallis
    ridiculus nascetur enim.
  </Text>
</Container>
<Container size="large">
  <Panel brand>
    Hello
  </Panel>
  <Panel brand contrast>
    Hello
  </Panel>
  <Panel>
    Hello
  </Panel>
  <Panel contrast>
    Hello
  </Panel>
  <Badge size="small">This is a badge</Badge>
  <Badge size="small" brand>This is a badge</Badge>
  <Heading level={1} brand>Heading h1</Heading>
  <Heading level={2}>Heading h2</Heading>
  <Heading level={2}>This is a longer text to show the
    <Brand>brand text</Brand>
    and some more.
  </Heading>
  <Heading level={3}>Heading h3</Heading>
  <Heading level={4}>Heading h4</Heading>
  <Heading level={5}>Heading h5</Heading>
  <Heading level={6}>Heading h6</Heading>
  <Heading level={6} mb="64">Heading h6 mb 64</Heading>
  <div class="inline-flex flex-col gap-4">
    <Button rounded outlined padding="large" size="large">This is the button text</Button>
    <Button rounded outlined brand>This is the button text</Button>
    <Button rounded size="small" bold padding="large" click="console.log('I am here')"><span>aaa</span><span>This is the button text</span>
    </Button>
    <Button rounded brand size="small" bold padding="large" click="console.log('I am here')"><span>aaa</span><span>This is the button text</span>
    </Button>
  </div>
  <Faq items={[
    {
      question: 'Lorem ipsum is placeholder text',
      answer: 'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.'
    },
    {
      question: 'Lorem ipsum is placeholder text',
      answer: 'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.'
    },
    {
      question: 'Lorem ipsum is placeholder text',
      answer: 'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.'
    },
    {
      question: 'Lorem ipsum is placeholder text',
      answer: 'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.'
    }
  ]}/>
</Container>
</body>
</html>
