---
// items={[{name: 'Home', link: '/'}, {name: 'About', link: '/about'}, {name: 'Contact', link: '/contact'}]}

interface Link {
  name: string;
  link: string;
}

export interface Props {
  items: Link[];
  brand?: boolean;
  className?: string;
  inline?: boolean
  spacing?: 'small' | 'normal' | 'large';
  hideOnMobile?: boolean
}

const {items, brand, class: className, inline, spacing, hideOnMobile} = Astro.props as Props;

const spacings = {
  small: 'gap-2',
  normal: 'gap-4',
  large: 'gap-8',
}

const classArray = []
classArray.push(brand ? 'text-brand' : '')
classArray.push(!inline ? 'flex-col' : '')
classArray.push(spacings[spacing || 'normal'])
classArray.push('items-center')
classArray.push(hideOnMobile ? 'hidden md:flex' : 'flex')

const combined = classArray.join(' ')
---

  <ul class={combined}>
    {items.map((item) => (
      <li class={className}>
        <a href={item.link}>
          {item.name}
        </a>
      </li>
    ))}
  </ul>

