---
export interface Props {
  light?: boolean
  dark?: boolean
}

const {light, dark} = Astro.props as Props;

const classArray = []
light && classArray.push('light')
dark && classArray.push('dark')

const combined = classArray.join(' ')
---

<div class={combined}>
  <slot />
</div>
