<button class="dark:hidden" @click="setTheme('dark')">
  <i class="lar la-moon text-xl"></i>
</button>
<button class="light:hidden" @click="setTheme('light')">
  <i class="lar la-sun text-xl"></i>
</button>
