---
import ListElement from "../atom/ListElement.astro";
export interface Props {
  brand?: boolean
  size?: 'small' | 'normal' | 'large'
}

const {brand} = Astro.props as Props;

const sizes = {
  small: 'text-sm',
  normal: 'text-base',
  large: 'text-lg',
}

const classArray = []
classArray.push(sizes[size || 'normal'])

const combined = classArray.join(' ')
---

<div class={combined}>
  <slot />
</div>
